*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    margin-top: 116px;
    padding: 0;
    font-family: 'Fraunces';
    background-color: $main-color;
}
img {
    display: inline-block;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, p {
    margin: 0;
}
a {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}