$main-color: #FEFCF7;
$link-color: #83888F;
$number-hover-color: #FDD6BA;
$box-color: #0E8784;
$text-color: #333D4B;
$form-controller-color: #F4F1EB;
$summary-footer-color: #2C343E;
$summary-order-text-color: #FFF;
$btn-color: #66D2CF;